.index {
  height: 40px;
  background: white;
  padding: 5px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.index .iconfont {
  font-size: 28px;
  color: black;
}

.index p {
  margin-right: 15px;
  font-size: 18px;
  color: black;
}

.index .top {
  width: 230px;
  height: 30px;
  background: black;
  color: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index .top .left {
  margin-right: 10px;
  font-weight: 900;
  font-size: 18px;
}

.index .top .right {
  font-size: 14px;
}

.icon-list {
  width: 100%;
  height: 100%;
}

.icon-list .van-grid {
  background-color: #f6f6f6;
  margin-top: 50px;
}

main {
  background-color: #556f48;
  width: 100%;
  height: 900px;
  z-index: 0;
}

main .black {
  width: 100%;
  height: 10px;
  background-color: #556f48;
}

main .content {
  height: 35px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .content span {
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding-left: 9px;
}

main .content .more {
  color: black;
  font-size: 12px;
  font-weight: 800;
}

main .content .more .skip {
  font-size: 16px;
  padding: 0 12px 0 0;
  color: #b3b3b3;
}

main .tabs1 .van-tabs__line {
  width: 0px;
  height: 0px;
}

main .tabs1 .van-tab--active {
  background: #88b272 !important;
}

main .tabs1 .van-tabs__nav {
  background-color: #ffffff;
  padding: 0px;
  padding-top: 2px;
}

main .tabs1 .van-tabs__nav .van-tab {
  background-color: #f6f6f6;
  margin: 0 6px;
  border-radius: 5px;
  height: 30px;
}

main .tabs1 .van-tabs__nav .van-tab .van-tab__text {
  color: #88b272;
  font-size: 12px;
}

.van-tab--active .van-tab__text {
  color: #fff !important;
}
