.index{
  height: 40px;
  background:rgb(37, 40, 35);
  padding: 5px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .iconfont{
    font-size: 28px;
    color: white;
  }
  p{
    margin-right:15px;
    font-size: 18px;
    color: white;
  }
  .top{
    width: 230px;
    height: 30px;
    background: rgb(54, 58, 52);
    color:rgb(119, 119, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    

    .left{
      margin-right: 10px;
      font-weight: 900;
      font-size: 18px;
    }

    .right{
      font-size: 14px;
    }
  }
}


.icon-list{
  width: 100%;
  height: 230px;
  background-color: yellowgreen;
}